#main{
    margin-top:2em;
}

#welcome-container{

}

#pubsub-container{

}

.alertwindow-settings-item{

}

.alertwindow-settings-item-label{
    width: 15%;
}

#notification-container-title{
    margin-top: 1em;
}

#notification-container{

}

#notification-list{
    list-style: none;
}


.notification-list-item{
    min-height: 2em;
    background-color: #519194;
    padding: 1em;
    border-radius: 10px;
    margin-top: 1em;
    color: #ffffff;
    font-family: Roboto, Verdana;
}

.notification-list-item:first-child{
    margin-top: 0em;
}

.notification-list-item-header{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.notification-list-item-header-img{
    width: 5%;
}

.notification-list-item-header-title{
    width: 83%;
    padding-left: 0.5em;
    font-weight: bold;
}

.notification-list-item-header-cost{
    text-align: right;
    width: 10%;
}

.notification-list-item-body-username{

}

.notification-list-item-body-msg {
    font-style: italic;
}




#alertwindow-settings-container {
    margin-left: 4em;
    margin-top: 1em;
}

#alertwindow-settings-item-msg{
    width: 30%;
}

#alertwindow-settings-image{
    width: 50%;
}

#settings-btn-container{
    margin-top: 1em;
}

.alertwindow-settings-item-input {
    width: 30%;
}
