#main-container{

}

#main-container-introduction{
    text-align: center;
}

#presentation-img-container{

}

#presentation-img{
    max-width: 40em;
    border-radius: 1em;
}

.social-logo{
    max-width: 6em;
}

#main-container-social{
    margin-top: 3em;
}

#startnow-btn{
    margin-top: 1em;
    width: 10em;
}