/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  /* Margin bottom by footer height */
  background-color: #FFF;
  font-family: Roboto, Verdana;
}


body p {
  font-family: Roboto, Verdana;
}

body h1{
  font-family: Fredoka One, josefin sans, arial;
}

body h2{
  font-family: Fredoka One, josefin sans, arial;
}

body h3{
  font-family: Fredoka One, josefin sans, arial;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
  font-family: Roboto, Verdana;
}

.btn-primary {
  color: #fff;
  background-color: #D08288;
  border-color: #D08288;
}

.btn-primary:hover{
  background-color: #bb6176;
  border-color: #bb6176;
  color: #fff;
}

.btn-info {
  background-color: #519194;
  border-color: #519194;
  color: #fff;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.navbar{
  background-color: #61cc8f;
  padding: unset;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar a {
  color: #FFF;
  padding-top: 0.5em;
  font-family: Fredoka One, josefin sans, arial;
}

.nav-container{
  margin-left: 1em;
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-link {
  font-size: 1.1rem;
}

.nav-link:hover{
  color: #000;
}

@media (min-width: 768px){
  #navbar-logged-in-as {
    position: absolute;
    left: 80%;
  }
}

@media (max-width: 767px){
  #navbar-logged-in-as {
    display:none;
  }
}

.navbar-logged-in-as-img {
  height: 1em;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.footer {
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  text-align: center;
}

.footer p{
  word-break: break-all;
  width: 100%;
  overflow: overlay;
}
