@page
@model IndexModel
@{
    ViewData["Title"] = "PubSub-Alert";
}
<link rel="stylesheet" href="~/css/index.css"/>


<div id="main_container">
    <div id="main_container_introduction">
        <h1>PubSub-Alert</h1>
        <p>Display any redemption with channel points on your stream in almost real time!</p>
        <div>
            <img id="presentation_img" src="~/resources/images/alert_presentation.gif">
        </div>
        <button type="button" onclick="location.href='/dashboard';" id="start_now_btn" class="btn btn-primary">START NOW</button>
        <div id="main_container_social">
            <p>Any questions or future feature wishes? Hit me up on</p>
            <a href="https://twitter.com/DasEvoli"><img class="social_logo" src="~/resources/images/twitter_logo.png"></a>
            <a href="https://discord.gg/e9zzqt"><img class="social_logo" src="~/resources/images/discord_logo.png"></a>
            <a href="https://github.com/SleepyFoxCode/pubsubalert"><img class="social_logo" src="~/resources/images/github_logo.png"></a>
        </div>
    </div>
</div>

