@page
@model IndexModel
@{
    ViewData["Title"] = "PubSub-Alert";
}
<link rel="stylesheet" href="~/css/index.css"/>


<div id="main-container">
    <div id="main-container-introduction">
        <h1>PubSub-Alert</h1>
        <p>Display any redemption with channel points on your stream in almost real time!</p>
        <div class="presentation-img-container">
            <img src="~/resources/images/alert_presentation.gif">
        </div>
        <button type="button" onclick="location.href='pubsubalert/dashboard'" id="startnow-btn" class="btn btn-primary">START NOW</button>
        <div id="main-container-social">
            <p>Any questions or future feature wishes? Hit me up on</p>
            <a href="https://twitter.com/DasEvoli"><img class="social-logo" src="~/resources/images/twitter_logo.png"></a>
            <a href="https://discord.gg/YSyKngu"><img class="social-logo" src="~/resources/images/discord_logo.png"></a>
            <a href="https://github.com/SleepyFoxCode"><img class="social-logo" src="~/resources/images/github_logo.png"></a>
        </div>
    </div>
</div>



