@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<hr>

<p>
This privacy policy discusses information collected on code.sleepyfox.net. If there are terms in this privacy policy that you do not agree with, please don't use this site. No Accounts are getting created. If you don't want this site to have access anymore to information that you provided when you connected this site with your Twitch Account, you can undone it here: <a href="https://www.twitch.tv/settings/connections">https://www.twitch.tv/settings/connections</a>
<br>
<br>
The site seeks to collect only the information necessary for site security and operation.
The site stores basic information to access the Twitch API and fetch information about you. This includes your channel id, your login name and your last access token.  Only me, the administrator, has access to this information.
The site utilizes cookies for storing login access to the Twitch API and certain site settings and preferences. 
<br>
<br>
My advertising services and analytics may also utilize cookies or third party tracking technologies. Currently this is not the case but it could change in the future.
<br>
<br>
At times, I may update this privacy policy to maintain accuracy as the site evolves. If the usage of data collected changes substantially at a later point in time, users will be notified of those changes to the policy.
</p>
